@page
@model Index1Model
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome</h1>

<a class="nav-link text-dark" asp-area="" asp-page="/Shows/Index">Shows</a>
<a class="nav-link text-dark" asp-area="" asp-page="/AllCharacters">All Characters</a>
